

// =----------------------------------
// Colors
// =----------------------------------

$aw-color-fg: #1b1d1e;
$aw-color-bg: #ffffff;
$aw-color-bg-background: #f0f2f7;

$aw-color-fg-reserve: #ffffff;
$aw-color-bg-reserve: #1b1d1e;
$aw-color-bg-background-reserve: #2c2d30;


// =----------------------------------
// Sizing
// =----------------------------------

$aw-padding-small: 8px;
$aw-padding-normal: 12px;
$aw-padding-big: 20px;

$aw-font-size: 14px;
